.container{
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    height: 10px;
    border-radius: 6px;
}

.button{
  color: white;
  background-color: blue;
   width: 20%;
   border: none;
   padding: 6px;
   border-radius: 6px;
}

/* table */

.buttons{
  color: white;
  background-color: blue;
   width: 35%;
   border: none;
   padding: 6px;
   border-radius: 6px;
}

.success-message {
  color: green;
  color: green;
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttonss{
  color: white;
  background-color: blue;
   width: 25%;
   border: none;
   padding: 6px;
   border-radius: 6px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.employee-table th:nth-child(n+2),
.employee-table td:nth-child(n+2) {
  width: 18%;
}

.employee-table th:last-child,
.employee-table td:last-child {
  width: 12%;
}

.employee-table th {
  background-color: #f2f2f2;
}
